{% for item in newsItems %}
    <div class="news-item-list">
        <div class="news-item">
            <div class="news_item__title">{{ item.title }}</div>
            <div class="news_item__text">{{ item.getShortContent() | striptags | raw }}</div>
            <div class="news-item__full-text" style="display: none;">
                {{ item.content | raw }}
            </div>
            <div style="margin-top: 15px;">
                <ul>
                    {% for file in item.attachments %}
                        <li>
                            <a href="{{ path('admin_news_attachment_download', {'id': file.getId()}) }}">{{ file.getOriginalName() }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}