{% extends "@CMSTeam/index.html.twig" %}


{% block main %}

    <div class="row wrapper border-bottom white-bg page-heading" style="margin-bottom: 10px;">
        <div class="col-lg-10">
            <h2>
                Change password
            </h2>
        </div>
    </div>
    <div class="wrapper wrapper-content-wide animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_widget(form.current_password, {'attr':{ 'class': 'form-control', 'placeholder': 'Current password'}}) }}
                                    {{ form_errors(form.current_password)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.first, {'attr':{ 'class': 'form-control', 'placeholder': 'New password'}}) }}
                                    {{ form_errors(form.plainPassword.first)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.second, {'attr':{ 'class': 'form-control', 'placeholder': 'Repeat password'}}) }}
                                    {{ form_errors(form.plainPassword.second)}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Save" class="btn btn-lg btn-primary m-t-n-xs eventFormButton"/>
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}