<div class="row m-b-sm" data-row-id="__name__">
    <div class="col-xs-1 col-xs-1-sm" style="text-align: center; padding-top: 8px;"><a href="#" class="delete-ranking-row"><i class="fa fa-trash"></i></a> <a href="#" class="up-ranking-row"><i class="fa fa-arrow-up"></i></a> <a href="#" class="down-ranking-row"><i class="fa fa-arrow-down"></i></a></div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-2">{{ form_widget(form.teamName, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.M, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.W, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.G, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.V, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.F, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.A, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.GD, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.PTN, {'attr': {'class': 'form-control'}}) }}</div>
    <div class="col-xs-1 col-xs-1-sm">{{ form_widget(form.bocholtVV, {'attr': {'class': 'form-control'}}) }} {{ form_rest(form) }}</div>
</div>